<app-admin-navbar></app-admin-navbar>
<div style="text-align: center; margin-top: 40px;">
  <h3>ADD TEST</h3>
  </div>
<form (ngSubmit)="onSubmit()">
    <mat-label>Test Name</mat-label>
    <input name="testName" [(ngModel)]="test.testName" required />

        <label for="centers"> Diagnostic Centers </label>
        <select id="centers" name="centers" [(ngModel)]="center" >
          <option *ngFor="let center of diagnosticCenters " value={{center.centerId}}>
            {{center.centerName}}
          </option>
        </select>

  <button mat-raised-button color="primary" type="submit">Add Test</button>
</form>

