<app-admin-navbar></app-admin-navbar>
<div style="text-align: center; margin-top: 50px; " class="box2">
  <h2 style="display: inline-block;">DIAGNOSTIC CENTERS</h2>
  <div style="float: right;">
  <button type="button" style="background-color: #002244;" class="btn text-light" [routerLink]="'/add-center'">ADD CENTER</button>
  </div>
  </div>
<div class="box">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">INDEX</th>
      <th scope="col">CENTER NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let center of Centers; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ center.centerName }}</td>
    </tr>
  </tbody>
</table>
</div>