<h2>Users</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">INDEX</th>
      <th scope="col">NAME</th>
      <th scope="col">CONTACT NUMBER</th>
      <th scope="col">USER ROLE</th>
      <th scope="col">EMAIL ID</th>
      <th scope="col">APPOINTMENTS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of Users; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.contactNo }}</td>
      <td>{{ user.userRole }}</td>
      <td>{{ user.emailId }}</td>
      <td>{{ user.appointments }}</td>
    </tr>
  </tbody>
</table>
