<nav class="navbar" style="text-align: center; background-color: #002244;">
    <ul>
      <li><a [routerLink]="'/user-list'">Users</a></li>
      <li><a routerLink="/center-list">Centers</a></li>
      <li><a routerLink="/test-list"> Tests </a></li>
       <!-- <li><a routerLink="/user-appointments">User Appointments</a></li> -->
      <!--<li><a routerLink="/admin-center-list">Admin Center List</a></li>
    
     
      <li><a routerLink="/add-appointment">Add Appointments</a></li>
      <li><a routerLink="/login">Login</a></li> -->
    </ul>
    <div class="d-flex ms-auto order-5" style="margin:0px 50px;">
    <button class="btn btn-primary" type="button" [routerLink]="''">LogOut</button>
  </div>
  </nav>